/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'src/assets/_variables';

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

body{
  margin: 0; //fak dis, took me like 10 hours to see what's wrong aaaaaaaaa
}

.data-grid {
	width: 100%;
}
